<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.wallet.accounting.dao.UserDao">

	<resultMap id="userMap" type="user">
		<!-- <result column="id" jdbcType="INTEGER" /> <result column="name" jdbcType="VARCHAR" 
			/> <result column="age" jdbcType="INTEGER" /> <result column="registerDate" 
			jdbcType="TIMESTAMP" /> <result column="createDate" jdbcType="TIMESTAMP" 
			/> <result column="updateDate" jdbcType="TIMESTAMP" /> <result column="sex" 
			jdbcType="VARCHAR" /> -->
		<result property="userState" column="userState" typeHandler="com.wallet.accounting.entity.UserStatusHandler2" />
	</resultMap>

	<select id="findAllUser" resultMap="userMap">
		select * from t_user
	</select>

	<insert id="saveUser"  parameterType="user">
		insert into t_user (id,
		name, age, registerDate, createDate, updateDate, state, sex)
		values
		(#{user.id}, #{user.name}, #{user.age},#{user.registerDate},
		#{user.createDate}, #{user.updateDate}, #{user.state.value},
		#{user.sex} )
	</insert>
	
	<insert id="insertUsers" ></insert>

</mapper>